.Pain {
    padding-bottom: 20rem;

    position: relative;

    &__heading3 {
        margin-top: 15rem;
    }
    &__img {
        display: block;

        position: absolute;
        right: 0;
        top: 20rem;

        @media screen and (max-width: 700px) {
            width: 50rem;
        }
    }
}