@import '../../main';

.CompleteStrategy {
    margin-top: 10rem;
    padding-top: 10rem;
    padding-bottom: 20rem;

    background-color: $color-background-2;

    &__feature {
        width: 100rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        padding: 5rem;
        border-radius: 1rem;
        background-color: $color-white;

        display: flex;

        @media screen and (max-width: 900px) {
            width: 90%;
        }
        @media screen and (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }

        &__right {
           
        }
        &__left {
            margin-right: 5rem;
        }
        &__img {

        }
        &__headline {

        }
        &__p {

        }
    }
    &__CTA {
        margin-top: 7rem;
        margin-left: auto;
        display: block;
        margin-right: auto;
        border-radius: 1.1rem;

        @media only screen and (max-width: 800px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        @media only screen and (max-width: 500px) {
            font-size: 3.5rem !important;
        }
    }
}