@import '../../main';

.paragraph {
  margin-bottom: 1.5rem;
  width: 90rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 900px) {
    width: 90%;
  }

  color: $color-secondary;

  &--center {
    text-align: center;
  }
  &--small {
    font-size: $font-size-small;
  }

  & span {
    color: $color-white;
  }
}
