@import "../../main";

.heading2 {
  font-size: 3.2rem;
  color: $color-primary;

  &--danger {
    color: $color-danger;
  }
  &--light {
    color: $color-grey;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 700px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    font-size: 2.5rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 2.2rem;
  }
}
