@import "../../main";

.cta {
  padding: 3rem 5rem;
  max-width: 100%;
  background-color: $color-action;
  outline: none;
  border: none;
  cursor: pointer;

  color: $color-action-dark;
  font-weight: $weight-bold;
  font-size: $font-size-big;

  @media only screen and (max-width: 500px) {
    font-size: $font-size-regular;
  }
}
