@import '../../main';

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-grey, .4);

  position: fixed;
  top: 0;
  left: 0;

  &--error {
    color: red;
  }

  &__content {
    padding: 4rem;
    background-color: $color-white;
    border-radius: 1rem;

    @media screen and (max-width: 600px) {
      font-size: 4rem;
    }

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 45%;
  }
}
