@import "../../main";

.heading3 {
  color: $color-white;
  font-size: 4.4rem;
  text-align: center;

  @media only screen and (max-width: 700px) {
    font-size: 3.2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &--center {
    text-align: center;
  }
  &--danger {
    color: $color-danger;
  }
  &--light {
    color: $color-grey;
  }
}
