@import '../../main';

.Gates {
    background-color: $color-background-2;
    padding-top: 1px;
    padding-bottom: 15rem;

    &__heading3 {
        margin-top: 15rem;
    }
    &__mainP {
        color: $color-white;
        font-size: 2.5rem;
    }
    &__smallP {
        width: 50rem;

        @media screen and (max-width: 500px) {
            width: 90%;
        }

        text-align: center;

        &:last-of-type {
            font-style: italic;
        }

        &--list {
            text-align: left;
        }
    }
}