@import "../../main";

.heading1 {
  text-align: center;
  font-weight: $weight-semibold;
  font-size: $font-size-large;
  color: $color-white;

  @media only screen and (max-width: 1200px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 700px) {
    font-size: $font-size-big;
  }
  @media only screen and (max-width: 450px) {
    width: 100%;
    text-align: center;
    // text-align: left;
    font-size: $font-size-medium;
  }

  &--center {
    text-align: center !important;
  }
  &--primary {
    color: $color-primary;
  }
  &--danger {
    color: $color-danger;
  }
  &--white {
    color: $color-white;
  }
}
