.Header {
    padding-top: 5rem;

    position: relative;
    overflow: hidden;

    &__heading {
        width: 120rem;
        margin-left: auto;
        margin-right: auto;

        text-align: center;

        @media only screen and (max-width: 1200px) {
            width: 80%;
        }
        @media only screen and (max-width: 450px) {
            width: 80% !important;
        }
    }
    &__heading2 {
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: auto;
        margin-right: auto;

        text-align: center;

        position: relative;
    }
    &__p {
        margin-top: 5rem;
    }
    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__curtain {
        top: 0;
        position: absolute;
        height: 100vh;
        z-index: -1;
      
        &--right {
            transform: scaleX(-1);
            right: 0;

            @media screen and (max-width: 1600px) {
                right: -10rem;
            }
        }
        &--left {
            left: 0;

            @media screen and (max-width: 1600px) {
                left: -10rem;
            }
        }
    }
}