@import '../../main';

.Path {
    overflow: hidden;
    &__heading3 {
        margin-top: 15rem;
    }
    &__myPath {
        padding-top: 1rem;
        padding-bottom: 15rem;
        margin-top: 5rem;

        background-color: $color-background-2;

        &__video {
            margin-top: 5rem;
            margin-left: auto;
            margin-right: auto;
            background-color: $color-black;
            width: 80rem;
            height: 40rem;

            display: block;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

    }
    &__img {
        margin-top: 15rem;
        width: 100%;

        @media screen and (max-width: 800px) {
            height: 50rem;
            width: auto;
            transform: translate(-30%);
        }
        @media screen and (max-width: 500px) {
            height: 40rem;
        }
    }
    &__long_path_img {
        width: 80rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;

        display: block;

        @media screen and (max-width: 700px) {
            width: 100%;
       }
    }
    &__solution {
        ul {
           @media screen and (max-width: 700px) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
           }
        }
    }
}