@import '../../main';

.Order {
    padding-top: 10rem;
    padding-bottom: 20rem;

    position: relative;
    overflow: hidden;

    &__img {
        height: 100%;

        position: absolute;
        top: 0;
        opacity: .15;
        z-index: -1;
    }
    &__form {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;

        @media only screen and (max-width: 700px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__textInput {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
       
        &__input {
            height: 6.5rem;
            outline: none;
            border: none;
            padding-left: 2rem;
            padding-right: 2rem;

            font-size: 3rem;
            font-family: 'Poppins', sans-serif;
        }
        &__label {
            color: white;
            font-size: 2rem;

            span {
                color: red;
            }
        }
    }
    &__radioInput {
        display: flex;
        margin-top: 2rem;

        &__label {
            margin-right: 2rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $color-white;
            cursor: pointer;

            display: block;
            flex-shrink: 0;

            position: relative;

            &--checked {
                &::after {
                    content: "";
                    width: 50%;
                    height: 50%;
                    background-color: $color-black;
                    border-radius: 50%;

                    display: block;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &__input {
            visibility: hidden;
        }
        &__text {
            color: white;
            font-size: 1.8rem;
        }
    }
    &__checkboxInput {
        display: flex;
        margin-top: 2rem;

        a {
            color: white;
        }

        &__label {
            margin-right: 2rem;
            width: 3rem;
            height: 3rem;
            background-color: $color-white;
            cursor: pointer;

            display: block;
            flex-shrink: 0;

            position: relative;

            &--checked {
                &::after {
                    content: "";
                    width: 50%;
                    height: 50%;
                    background-color: $color-black;

                    display: block;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &__input {
            visibility: hidden;
        }
        &__text {
            color: white;
            font-size: 1.8rem;

            span {
                color: red;
                font-size: 2.4rem;
            }
        }
    }
    &__discount {
        margin-top: 5rem;

        &__p {
            color: white;
            font-size: 1.8rem;
        }
    }
    &__FB {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &__CTA {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: .5rem;
        width: 60rem;
        height: 20rem;

        display: block;

        color: $color-white;
        text-align: center;
        font-size: 3.2rem;

        @media screen and (max-width: 450px) {
            padding: 1rem;
        }
    }
    &__endNote {
        margin-top: 2rem;

        color: $color-danger;
        text-align: center;
        font-size: 2rem;
    }
}