@import '../../main';

.Questions {
    &__heading3 {
        margin-top: 20rem;
        margin-bottom: 20rem;
    }
    &__heading5 {
        width: 90rem;
        margin-top: 20rem;
        margin-left: auto;
        margin-right: auto;

        color: $color-white;
        font-size: 3.2rem;

        @media screen and (max-width: 900px) {
            width: 90%;
        }
    }
    &__contact {
        margin-top: 20rem;
        margin-bottom: 20rem;

        color: $color-white;
        font-size: 5rem;
        text-align: center;
        font-style: italic;

        @media screen and (max-width: 500px) {
            font-size: 3rem;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}