@import './main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-background;

  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;

  @media screen and (max-width: 1400px) {
    font-size: 54%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 600px) {
    font-size: 41.5%;
  }
}

body {
  color: $color-black;
  font-size: $font-size-regular;
}

.Footnote {
  padding-bottom: 2rem;

  color: #A7A7A7;
  font-size: 17px;
  text-align: center;

  &__a {
    text-decoration: none;
    color: #A7A7A7;
  }
}

#cookie-bar {
  height: 20vh;
  padding-left: 8rem !important;
  padding-right: 8rem !important;

  font-size: 2rem !important;

  display: flex !important;
  align-items: center;

  @media screen and (max-width: 700px) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;

    p {
      margin-right: 4rem !important;
    }
  }
  @media screen and (max-width: 500px) {
    height: 30rem;

    flex-direction: column;

    p {
      width: 80% !important;

      margin-right: 0 !important;
      margin-top: 4rem !important;
      margin-bottom: 4rem !important;
    }
  }
}
#cookie-bar-button {
  width: 40rem;
  height: 10rem;
  margin-left: auto;
  
  display: flex !important;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

ul {
  margin-top: 5rem;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;

  span {
    color: $color-secondary;
  }
}