// Colors
// Edit colors as you need
$color-primary: #A46DB6;
$color-secondary: #C1BCF1;

$color-danger: #FF7438;
$color-action: #E8B66C;
$color-action-dark:#76400D;


$color-background-2: #333142;
$color-background: #23222C;


$color-black: black;
$color-grey: #a7a7a7;
$color-white: #ffffff;

// Font sizes
$font-size-tiny: 1.6rem;
$font-size-small: 1.8rem;
$font-size-regular: 2.2rem;
$font-size-medium: 2.8rem;
$font-size-big: 3.7rem;
$font-size-large: 6.2rem;

// Font weights
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
